body {
    background-color: #282c34;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #3c4043;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #61dafb;
}

.timer {
    margin-bottom: 20px;
}

#time-display {
    font-size: 48px;
    margin-bottom: 20px;
    color: #ffffff;
}

.progress-bar {
    width: 100%;
    background-color: #555;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
}

.progress {
    height: 100%;
    background-color: #61dafb;
    transition: width 0.5s ease;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45%; /* Butonları yan yana yerleştir */
}

button:hover {
    background-color: #5fb8e2; /* Hover rengi */
}

button:focus {
    outline: none; /* Odaklanınca çerçeve yok */
}
